<div class="container_principal" id="amigos">

    <div class="container_unico">

        {{>_msg}}

        <h1>Amigos Pendentes</h1>
        <div class="container_amigos">

            <div class="acoes_amigos">
                <a href="/usuario/encontrarAmigos">
                    <div>
                        <ion-icon name="rocket-outline"></ion-icon> Encontrar Amigos
                    </div>
                </a>
                <a href="/usuario/encontrarPaginas">
                    <div>
                        <ion-icon name="duplicate-outline"></ion-icon> Encontrar Páginas
                    </div>
                </a>
                <a href="#">
                    <div>
                        <ion-icon name="person-add-outline"></ion-icon> Amigos Pendentes
                    </div>
                </a>
                <a href="#">
                    <div>
                        <ion-icon name="mail-outline"></ion-icon> Convites Enviados
                    </div>
                </a>
                <a href="/usuario/amigos">
                    <div>
                        <ion-icon name="people-outline"></ion-icon> Meus Amigos
                    </div>
                </a>
                <a href="/usuario/paginas">
                    <div>
                        <ion-icon name="document-text-outline"></ion-icon> Páginas que Sigo
                    </div>
                </a>
            </div>

            <div class="amigos_pendentes">

                {{#each convites}}

                <div class="opcao_amigo">
                    <div class="opcao_amigo_top"
                        style="background: url(https://img.freepik.com/free-vector/gradient-spheres-background_52683-76367.jpg)">

                    </div>
                    <div class="opcao_amigo_bottom">
                        <img src="{{foto}}">
                        <h2>
                            {{nomeCompleto}}
                        </h2>
                        <p class="opcao_amigo_resumo">
                            {{resumo}}
                        </p>
                        <p class="opcao_amigo_formacao">
                            ETEC. Prof. Dr. José Dagnoni
                        </p>

                        <div class="acoes_amigo_pendentes">
                            <form action="/usuario/amigos/aceitar" method="POST">
                                <input type="hidden" name="id" id="id" value="{{_id}}">
                                <button type="submit" class="aceitar_convite">
                                    Aceitar Convite
                                </button>
                            </form>

                            <form action="/usuario/amigos/rejeitar" method="POST">
                                <input type="hidden" name="id" id="id" value="{{_id}}">
                                <button type="submit" class="rejeitar_convite">
                                    Rejeitar Convite
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                {{else}}

                <p class="nenhum_amigo">Nenhum Convite de Amigo Pendente</p>

                {{/each}}

            </div>
        </div>

    </div>
</div>