<div class="container_principal" id="amigos">

    <div class="container_unico">

        {{>_msg}}

        <h1>Aumente seu Network!</h1>
        <div class="container_amigos">

            <div class="acoes_amigos">
                <a href="/usuario/encontrarAmigos">
                    <div>
                        <ion-icon name="rocket-outline"></ion-icon><p> Encontrar Amigos</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <ion-icon name="duplicate-outline"></ion-icon><p> Encontrar Páginas</p>
                    </div>
                </a>
                <a href="/usuario/amigosPendentes">
                    <div>
                        <ion-icon name="person-add-outline"></ion-icon><p> Amigos Pendentes</p>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <ion-icon name="mail-outline"></ion-icon> <p> Convites Enviados</p>
                    </div>
                </a>
                <a href="/usuario/amigos">
                    <div>
                        <ion-icon name="people-outline"></ion-icon> <p> Meus Amigos</p>
                    </div>
                </a>
                <a href="/usuario/paginas">
                    <div>
                        <ion-icon name="document-text-outline"></ion-icon> <p> Páginas que Sigo</p>
                    </div>
                </a>
            </div>

            <div class="opcoes_amigos">

                {{#each empresas}}

                <div class="opcao_pagina">
                    <div class="opcao_pagina_top"
                        style="background-image: url({{background}})">
                    </div>
                    <div class="opcao_pagina_bottom">
                        <form action="/usuario/encontrarPaginas/seguirPagina" method="POST">
                            <div class="logo_pagina_container">
                                <img src="{{logo}}">
                            </div>
                            <h2>
                                {{nome}}
                            </h2>
                            <p class="opcao_pagina_resumo">
                                {{seguidores}} Seguidores
                            </p>
                            <div class="opcao_pagina_formacao">
                                <input type="hidden" name="id" id="id" value="{{_id}}">
                                <input type="hidden" name="tipo" id="tipo" value="empresa">
                                <button type="submit" class="adicionar_pagina">
                                    Seguir
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {{else}}
 
                {{/each}}

                {{#each instituicoes}}

                <div class="opcao_pagina">
                    <div class="opcao_pagina_top"
                        style="background: url(https://img.freepik.com/free-vector/gradient-spheres-background_52683-76367.jpg)">
                    </div>
                    <div class="opcao_pagina_bottom">
                        <form action="/usuario/encontrarPaginas/seguirPagina" method="POST">
                            <img src="{{logo}}">
                            <h2>
                                {{nome}}
                            </h2>
                            <p class="opcao_pagina_resumo">
                                {{seguidores}} Seguidores
                            </p>
                            <p class="opcao_pagina_formacao">
                                <input type="hidden" name="id" id="id" value="{{_id}}">
                                <input type="hidden" name="tipo" id="tipo" value="instituicao">
                                <button type="submit" class="adicionar_pagina">
                                    Seguir
                                </button>
                        </form>
                    </div>
                </div>

                {{else}}

                {{/each}}

            </div>
        </div>

    </div>
</div>