<div class="container_principal">
    <div class="container_left">

        <!-- PERFIL MENU INICIAL -->

        <div class="container_left_top">
            <div class="main_profile"
                style="background: url(https://img.freepik.com/free-vector/gradient-spheres-background_52683-76367.jpg); background-size: cover; background-repeat: no-repeat">

                <div class="left_profile">
                    <div class="photo_main_profile">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png">
                    </div>

                    <div class="desc_main_profile">
                        <h1>
                            {{usuario.nomeCompleto}}
                        </h1>
                        <p>
                            {{usuario.email}}
                        </p>
                        <h2>
                            {{usuario.cargo_atual}}
                        </h2>
                        <p>
                            <span class="pink_font">{{usuario.seguidores}}</span> seguidores
                        </p>
                    </div>
                </div>

                <div class="right_profile">
                    <a href="/usuario/editarPerfil">
                        <button class="edit_profile_button_index"> Editar Perfil
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                    </path>
                                </svg>
                            </div>
                        </button>
                    </a>
                </div>

            </div>
        </div>

        <div class="container_left_bottom">

            <!-- ACESSO RÁPIDO -->

            <div class="main_info">
                <h3>Gerenciar minha Rede</h3>

                <a href="/usuario/notificacoes">
                    <div class="main_info_div">
                        <div><ion-icon name="mail-unread-outline"></ion-icon></div>
                        <div>
                            <p>Notificações</p>
                        </div>
                    </div>
                </a>
                <a href="/usuario/encontrarAmigos">
                    <div class="main_info_div">
                        <div><ion-icon name="people-outline"></ion-icon></div>
                        <div>
                            <p>Amizades</p>
                        </div>
                    </div>
                </a>
                <a href="/usuario/networking">
                    <div class="main_info_div">
                        <div><ion-icon name="wifi-outline"></ion-icon></div>
                        <div>
                            <p>Networking</p>
                        </div>
                    </div>
                </a>
                <a href="/usuario/criarPagina">
                    <div class="main_info_div">
                        <div><ion-icon name="add-circle-outline"></ion-icon></div>
                        <div>
                            <p>Criar Página</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="main_info_div">
                        <div><ion-icon name="newspaper-outline"></ion-icon></div>
                        <div>
                            <p>Criar Evento</p>
                        </div>
                    </div>
                </a>

                <div class="center">
                    <a href="/usuario/buscarVagas">
                        <button class="main_info_button">
                            Ver mais
                        </button>
                    </a>
                </div>

            </div>

            <!-- FEED -->

            <form action="/usuario/publicar" method="POST">
                <div class="feed">
                    <div class="text_something">
                        <div class="text_something_top">
                            <div class="photo_text_feed">
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png">
                            </div>
                            <div class="text_feed">
                                <input type="text" name="feed_text" id="feed_text" maxlength="200"
                                    placeholder="Escreva Algo" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="text_something_bottom">
                            <ion-icon name="image-outline"></ion-icon>
                            <ion-icon name="location-outline"></ion-icon>
                            <ion-icon name="happy-outline"></ion-icon>
                            <input type="submit" name="publicar" id="publicar" value="Publicar">
                        </div>
                    </div>
            </form>

            <div class="feed_publications">

                <!-- PUBLICAÇÕES -->

                {{#each postagens}}

                <div class="publication">
                    <div class="info_publication">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png">
                        <div>
                            <h2>{{nomeDono}}</h2>
                            <p class="date_publication">{{data}}</p>
                        </div>
                    </div>
                    <div class="content_publication">
                        <div class="text_publication">
                            {{conteudo}}
                        </div>
                        <div class="image_publication">

                        </div>
                    </div>
                    <div class="bottom_publication">
                        <div class="actions_publications">
                            <ion-icon name="heart-outline"></ion-icon>
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                            <ion-icon name="share-social-outline"></ion-icon>
                            <ion-icon name="send-outline"></ion-icon>
                        </div>
                        <div class="qtd_likes_publication">
                            <p>{{curtidas}} curtidas</p>
                        </div>
                    </div>
                </div>

                {{else}}

                <p>Nenhuma Postagem</p>

                {{/each}}

            </div>
        </div>

    </div>
</div>

<div class="container_right">

    <!-- VAGAS DE EMPREGO -->

    <div class="index_events">
        <h1 class="title_index_events">
            <ion-icon name="newspaper-outline"></ion-icon>
            Vagas de Emprego
        </h1>

        <div class="vaga_emprego">
            <div class="photo_vaga_emprego">
                <img src="https://logodownload.org/wp-content/uploads/2014/05/natura-logo-16.png">
            </div>

            <div class="text_vaga_emprego">
                <p class="name_vaga_emprego">
                    Natura Co.
                </p>
                <p class="desc_vaga_emprego">
                    R$ 2.600/mês - R$ 5.200/mês
                </p>
            </div>
        </div>

        <div class="vaga_emprego">
            <div class="photo_vaga_emprego">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_Takeda.svg/1280px-Logo_Takeda.svg.png">
            </div>

            <div class="text_vaga_emprego">
                <p class="name_vaga_emprego">
                    Takeda Brasil
                </p>
                <p class="desc_vaga_emprego">
                    R$ 3.150/mês - R$ 3.620/mês
                </p>
            </div>
        </div>

        <div class="vaga_emprego">
            <div class="photo_vaga_emprego">
                <img src="https://logodownload.org/wp-content/uploads/2017/03/dell-logo-1-1.png">
            </div>

            <div class="text_vaga_emprego">
                <p class="name_vaga_emprego">
                    Dell
                </p>
                <p class="desc_vaga_emprego">
                    R$ 1.890/mês - R$ 2.300/mês
                </p>
            </div>
        </div>

        <div class="vaga_emprego">
            <div class="photo_vaga_emprego">
                <img src="https://logodownload.org/wp-content/uploads/2017/05/banco-santander-logo-41.png">
            </div>

            <div class="text_vaga_emprego">
                <p class="name_vaga_emprego">
                    Banco Santander SA.
                </p>
                <p class="desc_vaga_emprego">
                    R$ 3.900/mês - R$ 8.300/mês
                </p>
            </div>
        </div>

        <div class="center">
            <a href="/usuario/buscarVagas">
                <button class="cta">
                    <span>Ver mais</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </a>
        </div>

    </div>

    <!-- EM ALTA -->

    <div class="index_companies">
        <h1 class="title_index_events">
            <ion-icon name="flame-outline"></ion-icon>
            Em Alta
        </h1>

        <div class="trend_item">
            <div class="trend_item_icon">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>

            <div class="trend_item_text">
                <p class="name_trend_text">
                    Direitos
                </p>
            </div>

            <div class="more_trend_item">
                Ler Sobre
            </div>
        </div>

        <div class="trend_item">
            <div class="trend_item_icon">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>

            <div class="trend_item_text">
                <p class="name_trend_text">
                    Mercado de Trabalho
                </p>
            </div>

            <div class="more_trend_item">
                Ler Sobre
            </div>
        </div>

        <div class="trend_item">
            <div class="trend_item_icon">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>

            <div class="trend_item_text">
                <p class="name_trend_text">
                    Salários
                </p>
            </div>

            <div class="more_trend_item">
                Ler Sobre
            </div>
        </div>

        <div class="trend_item">
            <div class="trend_item_icon">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>

            <div class="trend_item_text">
                <p class="name_trend_text">
                    Empregos
                </p>
            </div>

            <div class="more_trend_item">
                Ler Sobre
            </div>
        </div>

        <div class="trend_item">
            <div class="trend_item_icon">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>

            <div class="trend_item_text">
                <p class="name_trend_text">
                    Treinamentos
                </p>
            </div>

            <div class="more_trend_item">
                Ler Sobre
            </div>
        </div>

        <div class="center">
            <button class="cta">
                <span>Ver mais</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </div>

    <!-- ADICIONAR AMIGOS  -->

    <div class="index_friends">
        <h1 class="title_index_events">
            <ion-icon name="git-network-outline"></ion-icon>
            Conecte-se
        </h1>

        <div class="friends_option_index">
            <div class="photo_friends_index">
                <img
                    src="https://i.pinimg.com/736x/40/d0/3d/40d03d04ff61fccaf012a5fba3612e61--fluffy-animals-baby-animals.jpg">
            </div>

            <div class="text_friends_index">
                <p class="name_friends_index">
                    Sebastiana Felisberta
                </p>
                <p class="desc_friends_index">
                    Profissional de Recursos Humanos.
                </p>
                <p class="desc_friends_index">
                    Estuda em USP São Paulo.
                </p>
            </div>
            <div class="add_friends_index">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="friends_option_index">
            <div class="photo_friends_index">
                <img
                    src="https://thumbs.dreamstime.com/b/cachorro-franc%C3%AAs-engra%C3%A7ado-usando-um-carnaval-ou-vaqueiro-de-halloween-com-fantasia-corpo-inteiro-bra%C3%A7os-e-cal%C3%A7as-falsos-c%C3%A3o-176071462.jpg">
            </div>

            <div class="text_friends_index">
                <p class="name_friends_index">
                    Maria Joana
                </p>
                <p class="desc_friends_index">
                    Desempregada.
                </p>
                <p class="desc_friends_index">
                    Estudou em E.E Jorge Covre.
                </p>
            </div>
            <div class="add_friends_index">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="friends_option_index">
            <div class="photo_friends_index">
                <img src="https://a.thumbs.redditmedia.com/ZEDQ7Di2TjK2Oia7QY97Bl5PRuuAEsYUcRRMGkTObs8.jpg">
            </div>

            <div class="text_friends_index">
                <p class="name_friends_index">
                    Eugenia Cosimo
                </p>
                <p class="desc_friends_index">
                    Profissional de Produção.
                </p>
                <p class="desc_friends_index">
                    Estudou em ETEC José Dagnoni.
                </p>
            </div>
            <div class="add_friends_index">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="friends_option_index">
            <div class="photo_friends_index">
                <img src="https://m.media-amazon.com/images/I/51yYfu2H1eL._AC_SX569_.jpg">
            </div>

            <div class="text_friends_index">
                <p class="name_friends_index">
                    Marineusa dos Santos
                </p>
                <p class="desc_friends_index">
                    Cursando ADS.
                </p>
                <p class="desc_friends_index">
                    Estuda em UNICAMP Campinas.
                </p>
            </div>
            <div class="add_friends_index">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="friends_option_index">
            <div class="photo_friends_index">
                <img src="https://i.pinimg.com/originals/0e/02/f6/0e02f656b1464a8ef1064b172e85a1c2.jpg">
            </div>

            <div class="text_friends_index">
                <p class="name_friends_index">
                    Julia Pereira
                </p>
                <p class="desc_friends_index">
                    Desempregada.
                </p>
                <p class="desc_friends_index">
                    Estudou em E.E Alfredo Santos.
                </p>
            </div>
            <div class="add_friends_index">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="center">
            <a href="/usuario/amigos">
                <button class="cta">
                    <span>Ver mais</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </a>
        </div>

    </div>

</div>
</div>

</div>

<!-- FOOTER -->

<div class="custom-shape-divider-bottom-1679778702">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
    </svg>
</div>

<footer class="footer">

</footer>