<div class="container_principal" id="vagas">

    <div class="container_unico" id="transparente">

        <!-- CONTAINER VAGAS -->

        <h1 class="titulo_explorar_vagas">
            Explorar Vagas
        </h1>

        <div class="container_vagas">

            <!--  VAGAS DE EMPREGO -->

            {{#each vagas}}

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="{{foto}}">
                </div>

                <div class="opcao_vaga_flex">
                    <div class="info_vaga">
                        <p class="nome_vaga">
                            {{cargo}}
                        </p>
                        <p class="desc_vaga">
                            {{nomeEmpresa}}
                        </p>
                        <p class="desc_vaga">
                            {{local}}
                        </p>
                        <p class="desc_vaga">
                            R${{salarioMinimo}} - R${{salarioMaximo}}
                        </p>
                    </div>
                    <a href="/usuario/vaga">
                        <div class="aplicar_vaga">
                            <button>
                                Ver Mais
                            </button>
                        </div>
                    </a>
                </div>
            </div>

            {{else}}

            {{/each}}

        </div>

    </div>
</div>