<div class="container_principal" id="vaga">

    <div class="container_unico">

        <div class="vaga_container">
            <h1>{{vaga.cargo}}</h1>
            <h2>{{vaga.nomeEmpresa}} - {{vaga.local}}</h2>
            <div class="info_vaga_top">
                <div>
                    <ion-icon name="briefcase-outline"></ion-icon>
                    {{vaga.tipo}} - {{vaga.modelo}}
                </div>
                <div>
                    <ion-icon name="business-outline"></ion-icon>
                    {{empresa.qtdFuncionarios}}
                </div>
                <div>
                    <ion-icon name="cash-outline"></ion-icon>
                    {{#if vaga.salarioMaximo}}
                        R${{vaga.salarioMinimo}} - R${{vaga.salarioMaximo}}
                    {{else}}
                        R${{vaga.salarioMinimo}}
                    {{/if}}
                </div>
                <div>
                    <ion-icon name="bulb-outline"></ion-icon>
                    Compare com outras vagas <span class="span_link">Aqui</span>
                </div>
            </div>
            <div class="info_vaga_bottom">
                <h1>
                    Sobre a vaga
                </h1>
                <p>{{vaga.descricao}}</p>
                <h1>
                    Competências
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum placeat praesentium dolorum culpa! Reiciendis deleniti minus minima nam, itaque corporis voluptatibus, eos repellendus dolorem nesciunt ipsum fugiat cumque natus! Labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero voluptatum nostrum! Nobis ad rerum facilis cupiditate vitae, illum alias distinctio inventore, reprehenderit mollitia reiciendis! Dolorum facilis soluta voluptate libero.</p>
            </div>
        </div>

    </div>
</div>